/* 
Global Settings
*/
*{
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
}
:root {
    --font-grey:#45454b;
    --font-green:#519C66;
    --main-bg-color: #4355ED;
    --main-bg-light:#5570F1;
    --hight-color1:#FFCC91;
    --hight-color2:#FDF3E5;
}
body{
    margin: 0;
    padding: 0;
    color: var(--font-grey);
}
.font-color1{
    color: var(--font-grey);
}
.bg1{
    background-color: var(--main-bg-color);
}
.bg2{
    background-color: var(--main-bg-light);
}
.bgh1{
    background-color: var(--hight-color1);
}
.bgh2{
    background-color: var(--hight-color2);
}
.p10{
    padding: 10px;
}
/* sidebar css */
.sidebar-logo-container{
    margin: 10px 0px;
}
.sidebar-logo{
    height: 38px;
}

.ant-menu-item svg ,.menu-item-count svg {
    fill: #41424A;
    width: 25px;
    height: 25px;
}
.ant-menu-item{
    font-size: 12px;
    color: #41424A;
    height: 50px  !important;
    position: relative;
    display: flex;
    align-content: center;
}
.menu-item-count svg{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.ant-menu-item.ant-menu-item-selected{
    background-color: var(--main-bg-light) !important;
    color: #FFFFFF !important; 
    padding: 0px;
}
.ant-menu-item.ant-menu-item-selected svg{
    fill: #FFFFFF;
}
.menu-item-count span{
    position: absolute;
    right: 10px;
    top: 15px;
    height: 20px;
    width: 20px;
    font-size: 9px;
    background-color: var(--hight-color1);
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ant-menu-inline-collapsed svg{
    height: 50px;
}
.ant-menu-item.ant-menu-item-selected .menu-item-count span{
    background-color: #FFFFFF;
    color: #000;
}
/* after collapsed menu */
.ant-menu-inline-collapsed .ant-menu-item{
   align-items: center;
   justify-content: center;
   display: flex;
   align-content: center;
   width: 60px;
   height: 60px;
   border-radius: 10px;
}
.ant-menu-inline-collapsed .ant-menu-title-content{
    display: none !important;
}
.ant-menu-inline-collapsed .menu-item-count span{
    top: 5px;
}
.ant-menu-inline-collapsed  .ant-menu-item{
    padding: 0px;
    margin: 0px auto;
    margin-bottom: 6px !important;
}
/* End After Collapsed menu */
/* Header */
#top-header .header-right .user-drop-down{
    background-color: var(--hight-color2) ;
    padding: 8px 15px;
    font-size: 13px;
    color: var(--font-grey);
    border-radius: 6px;
    font-weight: normal;
}
/* end Header style */
/* card block */
.ant-card .ant-card-body{
    padding: 10px;
}
.ant-checkbox-inner, .ant-checkbox-input {
    transform: scale(1.8);
}
.ant-table-content .ant-table-thead th.ant-table-cell {
    background: #FFFFFF ;
}
/* Starting Form Style */
.ant-input,.ant-input:focus,.ant-input:hover,.ant-input-number{
    background-color: #F3F5FA;
    border-width: 0;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 300;
}
.ant-form-item-control-input-content .ant-select ,.ant-form-item-control-input-content .ant-select-selector{
    height: auto ;
    border-radius: 10px;
}
.ant-form-item-control-input-content .ant-select .ant-select-selector {
    background-color: #F3F5FA ;
    border: 0 ;
    padding: 10px 10px;
}

.ant-form-item-control-input-content .ant-select .ant-select-selection-item,
.ant-form-item-control-input-content .ant-input-number,
.ant-form-item-control-input-content .ant-picker
{
    font-size: 18px;
    font-weight: 300;
}
.ant-form-item,.ant-input-number {
    width: 100%;
}
.ant-form-item-control-input-content .ant-input-number{
    border: 0px !important;
}
.ant-form-item-control-input-content .ant-input-number .ant-input-number-handler-wrap{
    opacity: 1 !important;
}
.ant-form-item-control-input-content .ant-input-number .ant-input-number-handler-wrap{
    background-color: #F3F5FA ;
}
.ant-form-item-control-input-content .ant-input-number .ant-input-number-handler-up,
.ant-form-item-control-input-content .ant-input-number .ant-input-number-handler-down
{  
    background-color: #c1c1c1;
    margin: 2px;
}

.ant-form-item-control-input-content .ant-picker{
    background-color: #F3F5FA ;
    width: 100%;
    border: 1px;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 300;
}

/* Text Editor Settings */

.mdxeditor {
    min-height: 200px;
    border: 1px solid #f3f5f9;
    border-radius: 10px;
}